# Protect the .htaccess

<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>

# Protect the vote script

<Files vote.php>
	SetEnvIfNoCase X-Requested-With XMLHttpRequest ajax
	Order Deny,Allow
	Deny from all
	Allow from env=ajax
</Files>

# Protect the vote script

<Files process_payment.php>
	SetEnvIfNoCase X-Requested-With XMLHttpRequest ajax
	Order Deny,Allow
	Deny from all
	Allow from env=ajax
</Files>